body {
  margin: 0;
  font-family: Arial, sans-serif;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #121212;
  color: white;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
